.reviewDiv {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 4rem;

}


.row1,
.row2 {
    display: flex;
    justify-content: space-between;
}




.row1Left {
    display: flex;
    flex-direction: column;
}


.row1Leftrow1 {
    display: flex;
}



.explanation {
    flex: 0.5;
}


.img {
    width: 4rem;
    height: 4rem;
}


.userArea {
    display: flex;
    align-items: center;
}

.userPhoto {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 13px;
}



.explanation {
    font-weight: bold;
}