.row {
    display: flex;
    justify-content: space-around;
}





.newsPage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.newsOptions {
    display: flex;
    margin-bottom: 3rem;
    gap: 2rem;
}