.row {
    display: flex;
    justify-content: space-around;
}





.newsPage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.newsOptions {
    display: flex;
    margin-bottom: 3rem;
    gap: 2rem;
    justify-content: space-around;
    margin-top: 2rem;
}




.newsOptions button {
    background: #ee4211c4;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}



.categoryBtn {
    background: #ee4211c4;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-left: 33rem;

}