.product-more-info {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: rgb(254, 253, 253);
    width: 48rem;
    height: 30rem;

    padding: 2rem 5rem;
   
    z-index: 10;
    left: 50%;
    top: calc(50%);
    transform: translate(-50%, -50%);
    overflow-y: auto;
    border-radius: 7px;
}


.product-more-info-title-row1 {
    display: flex;
}


.visit-btn {
    width: 6rem;
    height: 4rem;
    border-radius: 6px;

    background: white;
    border: 0.5px solid gray;
    cursor: pointer;
}

.upvote-btn {
    width: 14rem;
    height: 4rem;
    background: #ee4211c4;
    color: white;
    margin-left: 13px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}



.product-more-info-title-row1-left {
    display: flex;
    flex-direction: column;
    flex: 1;

}




.product-more-info-interaction-line-div {
    display: flex;
    margin-top: 1rem;
}


.product-more-info-interaction-line-div-interaction-btns {
    display: flex;
}

.product-more-info-interaction-line-div-interaction-btns button {
    border: none;
    height: 2rem;
    color: gray;
    background: none;
    cursor: pointer;
}


.product-more-info-interaction-line-div-interaction-btns button:hover {
    color: orange;
}



.commenters {
    display: flex;
}


.commenters-photo-row1,
.commenters-photo-row2 {

    display: flex;
}


.commenters-photo {
    width: 3rem;
    border-radius: 3rem;
    height: 3rem;
}



.commenters-photo-row {
    display: flex;
    gap: 1rem;
}

.commenters-prof-photo-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-area {
    display: flex;
    margin-top: 8rem;
    border-top: 1px solid #8080807a;
    border-bottom: 1px solid #8080806b;
    padding: 1rem 0rem;
}


.comment-area-input {
    flex: 2;
    border: none;
}