.recent-product-comp-div{
    display: flex;
    flex-direction: column;
    border: 1px solid #80808078;
    max-width: 14rem;
    border-radius: 5px;
   
}



.recent-product-info{
    display: flex;
    border-bottom:1px solid gray;
    padding: 0.5rem;
}


.recent-product-photo{
    width: 2.8rem;
    border-radius: 2rem;
}


.recent-product-explanation{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    
}

.recent-product-info-explanation{
    display: flex;
}



.recent-product-explanation p {
    margin:0;
}