.footerDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;

}




.footerDiv p {
    color: gray;
    text-decoration: none;
    font-size: small;
}

.link {
    text-decoration: none;
    height: 1.5rem;
}


.brand {
    text-decoration: none;
    font-size: small;
    color: gray;
}