.main-page-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #80808061;
    border-top: 1px solid #80808075;
}



.main-page-header-left {
    display: flex;
    gap: 1rem;
}

.header-nav {
    display: flex;
    gap: 1.5rem;
}


.main-page-logo {
    width: 2.4rem;
}



.main-page-header-sucscribe-and-sign-btn-div {
    display: flex;
    gap: 1.5rem;
}


.header-nav button:hover {
    color: orange;
}

.header-nav button {
    background: none;
    border: none;
    color: gray;
    font-size: 1rem;
}


.main-page-header-sucscribe-and-sign-btn-div button:nth-child(1) {
    color: #e12e;
    border: none;
    background-color: #ff868f24;
    border-radius: 4px;
}


.main-page-header-sucscribe-and-sign-btn-div button:nth-child(2) {
    background: #ee4211c4;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}


.options-btn {
    border-radius: 16px;
    background: #b3b3f747;
    font-weight: bold;
    padding: 0.3rem;
    border: none;
}




.header-products-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 38rem;
    background: rgb(238 238 238);
    top: 3.3rem;
    z-index: 10;
    border-radius: 8px;

}



.header-products-content-row1 {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.55);
}


.bull-horn-icon {
    font-size: xx-large;
    color: #098000cf;
    background: #04ea0424;
    width: 5rem;
    border-radius: 8px;
}

.bull-horn-icon:hover {
    transform: scale(1.2);
    font-size: xx-large;
    background: white;
}



.header-product-content-row1-right {
    display: flex;
    flex-direction: column;
    gap: 0;
    cursor: pointer;
}


.header-product-content-row1-right p {
    margin: 0;
}


.header-products-main-content {
    display: flex;
}


.left {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    border-right: 1px solid rgba(128, 128, 128, 0.45);
}


.left p {
    margin: 0;
    margin-bottom: 0.3rem;
}

.left p:hover {
    text-decoration: underline;
}